---
layout: default
---

<!-- Main Content -->
<div class="panel panel-default content-panel">
  <div class="panel-heading">
    <h1> {{ site.title }}</h1>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
	<p>We aim towards a reading/learning seminar but also host research talks. The goal is to be accessible to graduate students. Details of each talk including recordings, lecture slides and transcript are available by clicking "View Lecture" on each talk. Recordings are also available on the <a href="https://www.youtube.com/channel/UCtVSqYN2CGISZZdN56Y5fMw">Australian Geometric PDE Youtube channel</a></p>

	<p>Contact <a href="mailto:pabryan@gmail.com?subject=Australian%20geometric%20PDE%20seminar">Paul Bryan</a> for information on participating (attending live sessions, giving a talk, suggesting topics/speakers etc.)</p>
      </div>
    </div>
  </div>
</div>

{{ content }}


