{% if page.youtube-id %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default content-panel">
      <div class="panel-body">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube-id }}?start={{ page.youtube-timestamp }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default content-panel">
      <div class="panel-body">
	<p>Lecture video to be uploaded after the talk.</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
